**/**/*.sln
**/**/*.user
**/**/*.filters
**/**/*.vcxproj
**/**/.clangd
**/**/.idea
**/**/target
**/**/debug
**/**/output
**/**/*.out
**/**/build/
**/**/*.vs
**/**/bin
**/**/obj
**/**/*.csproj
**/**/*.obj
**/**/*.exe
marina
